JSC_IMAGE_NAME=jsc_image
JSC_IMAGE_SERVICE_NAME=jaisocx-http

TIME_ZONE=Europe/Zurich

LOGGED_IN_USERNAME
GROUP_USERS_NAME
USER_SUDIER_NAME
USER_NAME

folder_image_mounted_software_jsc_image_service="/usr/lib/jaisocx-http"
folder_image_mounted_data="/var/data/jsc_image"
folder_image_mounted_logs
folder_image_mounted_logs_jsc_image_service

container_builds

file_image_markers
file_image_markers_in_log_folder
file_image_service_start_markers_in_log_folder = folder_image_mounted_logs_jsc_image_service/service_started



